
.outer{
    position:relative;
}
.chatbot{
    height: 50px;
    width: 50px;
}

.chatbot img{
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: 1s ease-in-out;
}
.clear{
    bottom:  2px;
    right: 2px;
    height: 50px;
    width: 50px;
    /* opacity:0; */
    position: absolute;
}
.clear img{
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: 1s ease-in-out;
}
.chatbot img:hover{
    transform: scale(110%);
    opacity: 80%;
}