.main{
    width: 100%;
    height: 100vh;
    background: #121212;
}
.yoga_main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: row;
    margin-left: 10px;
}
.main_left{
    width: 40%;
    height: 600px;
    /* border: 1px solid #fff; */
}
.main_right{
    width: 60%;
    height: 600px;
    margin-left:10px;
    /* border: 1px solid  white; */
 }
 .main_right h1{
    
    color: white;
}

 .main_right h2{
     color: #fff;
 }
 .main_right h3{
     margin-left: 10px;
     margin-right: 10px;
     color: white;
     text-align: start;
 }
