
.slider_main{
    height: 100vh;
    width:100%;
    background: #121212;
    
}

.slider_bg{
    height: 100%;
    width: 100%;
    opacity:0.8;
}
.slider_nav{
    z-index:10;
    height: 80px;
    width: 100%;
    position: absolute;
    z-index:1;
    background:#121212;
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:flex-end;

}
.slider_nav h1{
    color: white;
    position: absolute;
    font-weight: bold;
    font-size:70px;
    top: 30px;left: 40px;
}

.slider_nav span{
    color: white;
    margin-right: 30px;
}

.slider_maintext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index:1;
}
.slider_text{
    font-size: 100px;
    color: #F5f5f5;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.slider_desc{
    font-size: 40px;
    color: #e0e0e0;;
    margin-top: -20px;
    margin-bottom:10px ;
}
.slider_btn{
    background: #878688;
    width: 200px;
    height: 50px;
    font-weight: bold;
    
    font-size:20px;
    border-radius: 10px;
    color:#121212;
}

.slider_btn :hover{
    background:none;
    transform: scale(1.2);
}
.link{
    text-decoration: inherit;
    color: inherit;
}
.services_main{
    margin-top: 160px;
}
.services_main h1{
    font-weight: bold;
    color: #eeeeee;
    margin-top: -60px;
    margin-bottom:80px;
    font-size:60px;
}


.slidergym{
    width:100vw;
    height:100vh;
    border-radius: 10px;
    overflow:hidden;
}
.slidesgym{
    width:500%;
    height:470px;
    display:flex;

}
.slidesgym input{
    display: none;
}
.slidegym{
    width:20%;
    transition:2s;    
}
.slidegym img{
    width:100vw;
    height:100vh;
}
 .navigation-manualgym{
    position:absolute;
    width:100vw;
    margin-top:200px;
    display:flex;
    /* align-items: center; */
    justify-content:center;
}
.manual-buttongym{
    border:2px solid white;
    padding:5px;
    border-radius: 10px;
    cursor:pointer;
    transition:1s;

}

.manual-buttongym:not(:last-child){
    margin-right: 40px;
}

.manual-buttongym:hover{
    background:white;
}
#radio1:checked~ .first{
    margin-left: 0;
}
#radio2:checked~ .first{
    margin-left: -20%;
}
#radio3:checked~ .first{
    margin-left: -40%;
}
#radio4:checked~ .first{
    margin-left: -60%;
}
#radio5:checked~ .first{
    margin-left: -80%;
}

 .firstboxgym{
  
    width:100vw;
    height:100vh;
    
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;
    
    
   
}
.headinggym{
    height:50px;
    font-size:70px;
    line-height:0.05;
    font-feature-settings: "liga" 0;
    letter-spacing:100;
    font-family: 'Signika', sans-serif;
    color:rgb(218, 214, 214);
}
.headingtextgym{
    height:30px;
    font-weight:400;
    font-size:30px;
    line-height:0.07;
    letter-spacing:0.2em;
    font-family: 'Dancing Script', cursive;
    color:rgb(218, 214, 214);;
}
.backgroundimggym{
    position: absolute;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.text_frontgym{
    position:absolute;
    
}
.join-us{
    margin-left: 20%;
    margin-top: 2%;
    font-size: 40px;
}
.getstartedgym
{
    width:200px;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-left:90px;
    background: grey;
    background-image: -webkit-linear-gradient(top, black, grey);  
    background-image: -moz-linear-gradient(top, black, grey);  
    background-image: -ms-linear-gradient(top, black, grey);  
    background-image: -o-linear-gradient(top, black, grey);
    background-image: linear-gradient(to bottom, black, grey);
    -webkit-border-radius: 20;  -moz-border-radius: 20;  border-radius: 28px;
    text-shadow: 3px 2px 1px black;  
    -webkit-box-shadow: 6px 5px 24px #666666;  
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;  
    color: #fafafa;
    font-size: 27px;
    padding: 5px;
    text-decoration: none;
}
.getstartedgym:hover 
{
    background: black;
    background-image: -webkit-linear-gradient(top, grey, black);
    background-image: -moz-linear-gradient(top,  grey, black);
    background-image: -ms-linear-gradient(top,  grey, black);
    background-image: -o-linear-gradient(top,  grey, black); 
    background-image: linear-gradient(to bottom,  grey, black);
    text-decoration: none;
}
.first-linkgym
{
      color:rgb(253, 251, 251);
      text-decoration: none;
}
.first-linkgym:hover{
    color:rgb(253, 251, 251);
      text-decoration: none;
}
.secondbox
{
    /* margin-top: 5px; */
    width:100%;
    height:750px;
    /* background:url("../images/about2.jpg") no-repeat ; */
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: -1;
    /* opacity:50%; */
    /* opacity:60%; */
}
.yogalinkgym{
    text-decoration: none;
    color:black;
}
.yogalinkgym:hover{
    text-decoration: none;
    color:black;
}
.secondbg
{
    position: absolute;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    opacity:50%;
}
.rightbox
{
    position:relative;
   /* background-color: #75777c66; */
    margin-left: -7%;
     top:30px;
        width: 750px;
        height: 500px;        
      
}
.leftbox{
    
    background-color:silver;
    margin-right:-30%;
 
    top:80px;
    width: 500px;
    height: 500px;
        cursor: pointer;
     border-radius:10px;
    
        
}
.thirdbox
{
    
    width:100%;
    height:700px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-evenly;

}
.heading-box3
{
    color:white;
    font-family: Sonsie One;
    font-size: 50px;
    text-align: center;
}
.cards-done
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
}
.card1
{
    display:grid;
    grid-template-columns: 300px;
    grid-template-rows: 350px 50px;
    grid-template-areas: "image1" "text1";

    font-family: roboto;
    border-radius: 18px;
    background:white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition:1.5s ease;
    cursor:pointer;
}
.card1-image
{
    grid-area:image1;
    background:url("../images/work4.jfif");
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    background-size:cover;
    opacity:80%;
}
.card1-text .date1
{
    color:rgb(90, 88, 88);
    font-size:30px;
    text-decoration: none;
}
.card1-text p
{
    color:grey;
    font-size: 15px;
    font-weight: 300;
}
.card1-text
{
    grid-area:text1;
    margin:2px;
}
.card1:hover
{
    transform:scale(1.1,1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);

}
.card2
{
    display:grid;
    grid-template-columns: 300px;
    grid-template-rows: 350px 50px;
    grid-template-areas: "image2" "text2";

    font-family: roboto;
    border-radius: 18px;
    background:white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition:1.5s ease;
    cursor:pointer;
}
.card2-image
{
    grid-area:image2;
    background:url("../images/yoga 2.jfif");
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    background-size:cover;
    opacity:80%;
}
.card2-text .date2
{
    color:rgb(90, 88, 88);
    font-size:30px;
}
.card2-text p
{
    color:grey;
    font-size: 15px;
    font-weight: 300;
}
.card2-text
{
    grid-area:text2;
    margin:2px;
}
.card2:hover
{
    transform:scale(1.1,1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);

}
.card3{
    display:grid;
    grid-template-columns: 300px;
    grid-template-rows: 350px 50px;
    grid-template-areas: "image3" "text3";

    font-family: roboto;
    border-radius: 18px;
    background:white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition:1.5s ease;
    cursor:pointer;
}
.card3-image{
    grid-area:image3;
    background:url("../images/cal3.jfif");
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    background-size:cover;
    opacity:80%;
}
.card3-text .date3{
    color:rgb(90, 88, 88);
    font-size:30px;
}
.card3-text p{
    color:grey;
    font-size: 15px;
    font-weight: 300;
}
.card3-text{
    grid-area:text3;
    margin:2px;
}
.card3:hover
{
    transform:scale(1.1,1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.lastbox{
    width:100%;
    height:700px;
    background-color: #0b0c0c;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-evenly;
}
.contact-main{
    z-index: 1;
    width:90%;
    height:500px;
    /* background-color: white; */
    /* border:2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.heading-last{
    margin-top:60px;
    /* top:-100px; */
    font-size: 50px;
    color:silver;
}
.left-div{
    margin-top: 2.5%;
    margin-left: 3.5%;
    width:500px;
    height: 400px;
    /* border:2px solid black; */
    z-index:1;
    justify-content: center;
    display:flex;
    flex: column;

}
.join-us{
    z-index:1;
    font-size: 40px;
    margin-left: 50px;
    margin-top:0.02%;
    color:black;
}
.join-upper{

    margin-top:30px;
    margin-left: -80px;
    width: 400px;
    height:100px;
    /* border:2px solid black; */
    z-index:1;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.join-upper-left{
    background: url("../images/googlefit.png");
    background-size:cover;
    width:100px;
    height:100px;
    /* border:2px solid black; */
    z-index:1;
}
.join-upper-right{
    background: url("../images/facebook.webp");
    background-size:cover;
    width:100px;
    height:100px;
    /* border:2px solid black; */
    z-index:1;
}
.join-lower{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-left: -80px;
    margin-top:30px;
    width: 400px;
    height:100px;
    /* border:2px solid black; */
    z-index:1;
}
.join-lower-left{
    background: url("../images/insta.jpg");
    background-size:cover;
    width:100px;
    height:100px;
    /* border:2px solid black; */
    z-index:1;
}
.join-lower-right{
    background: url("../images/snapchat.webp");
    background-size:cover;
    width:100px;
    height:100px;
    /* border:2px solid black; */
    z-index:1;
}
.right-div{
    margin-top: 2.5%;
    margin-right: 3.5%;
    width:500px;
    height: 400px;
    /* border:2px solid black; */
    z-index:1;
    justify-content: center;
    display:flex;
    flex: column;
    align-items: center;
}
.query{
    z-index:1;
    font-size: 40px;
    margin-left: 3%;
    margin-top:0.02%;
    color:black;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.textbox{
    background: silver;
    margin-top:20px;
    width:350px;
    height:40px;
    /* border:2px solid black; */
    z-index:1;
}
.textboxarea{
    background: silver;
    margin-top:20px;
    width:350px;
    height:100px;
    /* border:2px solid black; */
    z-index:1;

}
.form-group{
    margin-top: 20px;

}
.form-control{
    
    width:400px;
    height:100px;
    background: #bdbdbd;;
    color: #121212;
}
